.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    font-size: 50px;
}

.catalog{
    display: flex;
    flex-direction: row;
}

.catalog div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #4f6270;
    padding: 10px;
    border-radius: 10px;
    border: #1d2e36 solid 2px;
}

.catalogImages{
    height: 400px;
    width: auto;
    z-index: 1;
    transition: transform 200ms ease-in-out;
}

.deckDesc{
    position: absolute;
    top: 50vh;
    max-width: 500px;
    right: 100vw;
  }

  .boldTitle{
    text-transform: uppercase;
    font-weight: bold;
  }

.catalogImages:hover{
    transform: perspective(1000px) rotateZ(-10deg) rotateY(20deg) rotateX(20deg) scale(1.75);
}

.animated-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(105deg, #1d2e36, #4f6270);
  }

.discoverNowBtn{
    color: white;
    text-decoration: none;
    background-color: #1d2e36;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    animation: pulseBtn 2s infinite;
}

  @keyframes pulseBtn {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgb(29, 46, 54, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgb(29, 46, 54, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgb(29, 46, 54, 0);
    }
  }